[Desktop Entry]
Icon=/home/sun/Documents/github/Trojan-Qt5/resources/icons/trojan-qt5.icns
Exec=/home/sun/Downloads/Trojan-Qt5-Linux.AppImage
Version=1.0
Type=Application
Name=trojan-qt
Terminal=false
X-GNOME-Autostart-enabled=true
StartupNotify=false
X-GNOME-Autostart-Delay=10
X-MATE-Autostart-Delay=10
X-KDE-autostart-after=panel
