[Unit]
Description = Docker Openvpn
After = network.target docker.service
Requires = docker.service

[Service]
Type = simple
User = ubuntu

ExecStart = /home/ubuntu/docker/docker_openvpn_helper.sh start
ExecStop = /home/ubuntu/docker/docker_openvpn_helper.sh stop

[Install]
WantedBy = multi-user.target
